<div class="row marketing">
  <div class="col-lg-6">
    <h4>hello</h4>
    <ul>
      <li>
        <a href="/hello/dan">dan</a>
      </li>
      <li>
        <a href="/hello/bob">bob</a>
      </li>
      <li>
        <a href="/hello/mike">mike</a>
      </li>
    </ul>
  </div>
</div>
